styles.css

/* base element styles */

* {
  box-sizing: border-box;
}

html {
color: #222;
font-size: 1em;
line-height: 1.4;
font-family: 'Slabo 27px', serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

h1 {
  margin-top: 0;
}

/* Flexbox Layout - Navigation */

.main-header, .nav {
  display:flex;
  flex-direction: column;
}

.main-header {
  align-self:center;
}
.name {
  justify-content:space-around;
  align-self:center;
 }

.nav { 
  padding: 5px 5px;
  margin: 0 5px 15px 15px;
}

.nav li {
  text-align: center;
  color: #222;
  background: #fff;
  margin: 2.5px 2.5px 1px 1px;
  padding: 5px 5px;
  list-style:none;
  border-radius: 10px;
 }

.nav a{
  text-decoration: none;
}

.nav a:hover{
  color: red;
  border-bottom-color: #52bab3;
}

.student-name, .nav-single {  
  display:flex;
  flex-direction: row;
}

.student-name{
  margin: auto;
}

.nav-single{
 justify-content:end;
 margin-top: 0;
}

.nav-single li {
  margin-right: .65em;
  margin-left: .65em;
}
/* Layout Containers */

.main-header {
  width: 100%;
  background-color: #dff3e0;
}

.container {
    display: flex;
    flex-direction: column;
 }

#portfolio{
  text-align:center;
  } 

.img-div{
    width: 80%;
    margin: 0 auto;
    }

  .description {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
  }
    .main-body {
      background-color: white;
    }

.main-footer {
  width: 100%;
  background-color: grey;
}

#contact{
  text-align:center;
  margin-top: 0;
 }

.nav-single a {
  text-decoration:none;
}

.nav-footer {
  display:none;
}
 /* Media Queries */

@media (min-width: 768px){
.main-header{
  justify-content: end;
}
.name

.nav{
  margin-top: 2em;
  flex-direction: row; 
  justify-content: space-around;
}

.nav a {

@media (min-width: 1024px){

.main-header{
    flex-direction: row;
  }
  
  .name {
    margin: auto;
  }
  
  .nav {
      margin-top: 0;
      align-self: center;
}
  
  .nav li {
    margin-left: .65em;
    margin-right: .65em;

/* This code corrects collapsed containers that occur from floats. */
.group:after {
  content: '';
  display: table;
  clear: both;
}

